.navitem_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;

    &.selected {
        background-color: var(--color-background);
        color: var(--color-brand-primary);
    }
}